{:lein true
 :builds {:dev  {:target :browser
                 :output-dir "resources/public/js/compiled"
                 :asset-path "/js/compiled"
                 {{#routing?}}:module-loader true{{/routing?}}
                 :modules {:main {:init-fn {{name}}.core/init}
                           {{#routing?}}
                           ;; :another-module {:entries [{{name}}.another-module]
                           ;;                  :depends-on #{:main}}
                           {{/routing?}}}
                 :compiler-options {:optimizations :none
                                    :infer-externs :auto}
                 :devtools {:watch-dir "resources/public"
                            :preloads [devtools.preload dev]}}
          :prod {:target :browser
                 :output-dir "resources/public/js/compiled"
                 :asset-path "/js/compiled"
                 {{#routing?}}:module-loader true{{/routing?}}
                 :modules {:main {:init-fn {{name}}.core/init}
                           {{#routing?}}
                           ;; :another-module {:entries [{{name}}.another-module]
                           ;;                  :depends-on #{:main}}
                           {{/routing?}}}
                 :compiler-options {:optimizations :advanced
                                    :infer-externs :auto}}}}
